:host {
  display: flex;
  flex: 1;
  padding: 12px 16px;
  background-color: var(--color-card);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-secondary);
  box-shadow: var(--shadow-sm);
}

.card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.card__name {
  padding: 6px 16px;
  margin: 0;
  background-color: var(--color-title);
  border-radius: var(--border-radius);
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--text-title);
  box-shadow: var(--shadow-sm);
}
