<section class="profile">
  <div class="profile__banner">
    <h1 class="profile__title">Perfil</h1>
  </div>

  <div class="profile__card">
    @if (auth.currentUser()?.rol === 'ORGANIZADOR') {
      <div class="profile__row">
        <span class="profile__label">Nombre completo</span>
        <span class="profile__value">{{ auth.currentUser()?.nombre }} {{ auth.currentUser()?.apellidos }}</span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Fecha de nacimiento</span>
        <span class="profile__value">{{ auth.currentUser()?.fechaNacimiento }}</span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Organización</span>
        <span class="profile__value">{{ auth.currentUser()?.organizacionNombre }}</span>
      </div>
      <div class="profile__row profile__row--last">
        <span class="profile__label">Nick</span>
        <span class="profile__value">{{ auth.currentUser()?.username }}</span>
      </div>
    } @else {
      <div class="profile__row">
        <span class="profile__label">Nombre</span>
        <span class="profile__value">{{ auth.currentUser()?.nombre }} {{ auth.currentUser()?.apellidos }}</span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Fecha de nacimiento</span>
        <span class="profile__value">{{ auth.currentUser()?.fechaNacimiento }}</span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Pertenece a</span>
        <span class="profile__value">{{ auth.currentUser()?.organizacionNombre }}</span>
      </div>
      <div class="profile__row profile__row--last">
        <span class="profile__label">Nick</span>
        <span class="profile__value">{{ auth.currentUser()?.username }}</span>
      </div>
    }
  </div>

  <div class="profile__footer">
    <button class="btn btn--profile-outline" (click)="goToPublications()">Publicaciones</button>
  </div>
</section>
